<!-- list breed -->

<div class="row">
  <div class="col-md-6">
    <form action="">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Breeds</label>
        <select class="form-control" (change)="ChangeBreed($event.target.value)" id="exampleFormControlSelect1">
          <option>--Seleccionar--</option>
          <option *ngFor="let breed of breeds">{{breed}}</option>
        </select>
      </div>
    </form>
  </div>
</div>

<!-- detail breed -->

<div class="row" [hidden]="!viewBreed">
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <br/>
      <img class="card-img-top col-md-12" src="{{breed[0]}}" alt="Card image cap" />
      <div class="card-body">
        <div class="alert alert-success" role="alert" [hidden]="!viewLogs" >
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let log of logs">
                  <h6>Id: {{log.id}}</h6>
                  <h6>Note:  {{log.Note}}</h6>
                  <h6>Creation Date: {{log.CreationDate}}</h6>
                </li>
              </ul>
        </div>
        <h5 class="card-title">Sub Breeds</h5>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let subBreed of subBreeds">
            <h6> {{subBreed.Name}}</h6>
            <img class="col-md-12" src="{{subBreed.ImageURL[0]}}">
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <!-- add note -->
    <form class="" id="formNewNote" name="formNewNote" #noteData>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Notes</label>
        <textarea class="form-control" name="note" id="exampleFormControlTextarea1" maxlength="200" rows="3"></textarea>
        <input type="hidden" name="breed" value="{{breedSeleted}}" />
      </div>
      <button type="button" (click)="AddNewNote(noteData.note.value,noteData.breed.value)" class="btn btn-primary">Add Note</button>
    </form>
    <!-- list notes -->
    <hr>
    <h5 class="text-center">List Notes</h5>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let note of notes">
        <p> {{note.Note}}</p>
      </li>
    </ul>
  </div>
</div>