<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container" >
    <a class="navbar-brand" href="#">Castor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  </nav>