<!--Footer-->
<br/>
<footer class="fixed">
<div class="container">  
    <!--Copyright-->
    <div class="row">
        <div class="container-fluid">
           <div class="col-md-6">
            © 2018 Copyright: By <a href="mailto:bevarela6@misena.edu.co" target="top" > Esteban Varela</a>
           </div>
        </div>
    </div>
    <!--/.Copyright-->
</div>
</footer>
<!--/.Footer-->